*.VC.db
*.opendb
*.mp4
*.avi
*.png
*.weights
*.jpg
*.jpeg
*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.db
build/darknet.VC.VC.opendb
*.db
*.tlog
*.bak
build/x64/thermal2.JPG.lnk
*.log
*.opendb
